/*
This is an example settings.groovy file which can be used by the Jervis
bootstrap.

The only required change is updating the personal access token under the
`secret` key of `credentials`.
*/
master_settings = [
    'admin_email': 'admin@example.com',
    'jnlp_slave_port': 9000
]
//GitHub credential required for Jervis API communication with api.github.com
credentials = [
    [
        'credential_type': 'StringCredentialsImpl',
        'credentials_id': 'github-token',
        'description': 'GitHub Personal Access Token used by Jervis for the GitHub API',
        'secret': 'CHANGEME-personal-access-token'
    ]
]
//docker settings for slave agents
clouds_yadocker = [
    //YET ANOTHER DOCKER CLOUD (this is an item in a list of clouds)
    [
        cloud_name: "docker-local",
        docker_url: "tcp://localhost:2375",
        docker_templates: [
            //DOCKER TEMPLATE (this is an item in a list of templates)
            [
                //DOCKER CONTAINER LIFECYCLE
                docker_image_name: "jervis-docker-jvm:latest",
                //PULL IMAGE SETTINGS
                //valid values: pull_latest, pull_always, pull_once, pull_never
                pull_strategy: "pull_never",
                //volumes can be a string or list of strings
                volumes: [
                    '/opt/jenkins-cache:/home/jenkins/.jenkins:rw',
                    '/opt/gradle-cache:/home/jenkins/.gradle:rw'
                ],
                //volumes_from can be a string or list of strings
                volumes_from: '',
                //environment can be a string or list of strings
                environment: '',
                //JENKINS SLAVE CONFIG
                remote_fs_root: "/home/jenkins",
                labels: "stable docker ubuntu1604 sudo language:groovy env jdk",
                //valid values: exclusive or normal
                usage: "exclusive",
                //LAUNCH METHOD
                //valid values: launch_ssh or launch_jnlp
                launch_method: "launch_jnlp",
                //settings specific to launch_jnlp
                launch_jnlp_linux_user: "jenkins",
                launch_jnlp_slave_jar_options: "-workDir /home/jenkins",
                launch_jnlp_launch_timeout: 120,
                launch_jnlp_different_jenkins_master_url: "http://172.17.0.1:8080",
                launch_jnlp_ignore_certificate_check: false,
            ]
        ]

    ]
]
